<img src="../public/assets/img/burger.jpeg">

<h1>Dumbest Website Ever!</h1>


{{!-- {{add fields with uneaten burgers, and a button for each, hidden when empty}} --}}
<div id="uneaten"></div>
{{!-- {{add ol (or ul with IDs?) for eaten burgers, hidden when empty}} --}}
<div id="eaten"></div>

<form id="addburger" class="button-size">
	<textarea type="text" name="newBurger"></textarea>
	<button type="submit">Serve Burger!</button>
</form>

<h4>Enter the name of a burger you'd like to eat and click the button.</h4>

